@model IEnumerable<Author>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">

    <div class="row pt-4">
        <div class="col-6">
            <h1 class="text-primary">Author List</h1>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Author" asp-action="Create" class="btn btn-primary p-2" style="width: 220px">
                <i class="bi bi-plus-circle"></i> 
                &nbsp; Add new author
            </a>
        </div>
    </div>
    <br/>


    <table class="table" style="width:100%">
        <thead class="bg-dark">
            <tr>
                <th></th>
                <th class="text-light">Id</th>
                <th class="text-light">Name</th>
                <th class="text-light">Surname</th>
                <th class="text-light">Country</th>
                <th class="text-light">Date of Birth</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var author in Model)
            {
                <tr>
                    <td width="1%"></td>
                    <td width="14%">@author.Id</td>
                    <td width="12%">@author.Name</td>
                    <td width="12%">@author.Surname</td>
                    <td width="15%">@author.Country</td>
                    <td width="10%">@author.DateOfBirth</td>
                    <td width="13%">
                        <div class="btn-group w-75" role="group">
                            <a asp-controller="Author" asp-action="Edit" asp-route-id="@author.Id" 
                            class="btn btn-primary mx-1" style="width: 120px">
                                <i class="bi bi-pencil-square"></i> 
                                &nbsp; Edit
                            </a>
                        </div>
                    </td>
                     <td width="8%">
                        <div class="btn-group w-75" role="group">
                            <form method="post" asp-controller="Author" asp-action="Delete" asp-route-id="@author.Id">
                                <button class="btn btn-danger mx-1" type="submit" style="width: 120px">
                                    <i class="bi bi-trash3"></i>
                                    &nbsp; Delete
                                </button>
                            </form>
                            
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
